body
{
   background-color: #FFFFFF;
   color: #FFFFFF;
   font-family: "MS Sans Serif";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#background
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#rainbow
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#bg_music
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: transform-bounce 1000ms linear 0ms infinite normal both;
   -moz-animation: transform-bounce 1000ms linear 0ms infinite normal both;
   animation: transform-bounce 1000ms linear 0ms infinite normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image3
{
   border: 0px solid transparent;
   padding: 0;
   -webkit-animation: transform-shiver 1000ms linear 0ms infinite normal;
   -moz-animation: transform-shiver 1000ms linear 0ms infinite normal;
   animation: transform-shiver 1000ms linear 0ms infinite normal;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image3
{
   background-image: #FFFFFF;
   -webkit-transition: background-image 500ms linear 0ms;
   -moz-transition: background-image 500ms linear 0ms;
   transition: background-image 500ms linear 0ms;
}
#Button_Home
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#TextArt1
{
   border-width: 0;
}
#TextArt2
{
   border-width: 0;
}
#TextArt3
{
   border-width: 0;
}
#barkbarkbark
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
