body
{
   background-color: #FFFFFF;
   color: #FFFFFF;
   font-family: "MS Sans Serif";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#background
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: transform-tada 1000ms linear 0ms infinite normal both;
   -moz-animation: transform-tada 1000ms linear 0ms infinite normal both;
   animation: transform-tada 1000ms linear 0ms infinite normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#rainbow
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Music_Messy
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#window
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: transform-swing 1000ms linear 0ms infinite normal both;
   -moz-animation: transform-swing 1000ms linear 0ms infinite normal both;
   animation: transform-swing 1000ms linear 0ms infinite normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#star
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: transform-swing 1000ms linear 0ms infinite normal both;
   -moz-animation: transform-swing 1000ms linear 0ms infinite normal both;
   animation: transform-swing 1000ms linear 0ms infinite normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#bar
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#PlushBanshee
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#avatar
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#boarder
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Button_Home
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#oldsitelink
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#patch
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Sound_Boing
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Sound_Melting
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#messy
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: transform-hinge 2000ms linear 0ms 1 normal both;
   -moz-animation: transform-hinge 2000ms linear 0ms 1 normal both;
   animation: transform-hinge 2000ms linear 0ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#messy2
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: newspaper 1000ms linear 0ms 1 normal both;
   -moz-animation: newspaper 1000ms linear 0ms 1 normal both;
   animation: newspaper 1000ms linear 0ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#rainbowbar
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: transform-shake 1000ms linear 0ms infinite normal both;
   -moz-animation: transform-shake 1000ms linear 0ms infinite normal both;
   animation: transform-shake 1000ms linear 0ms infinite normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Button_GameMods
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image3
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: transform-shake 1000ms linear 0ms infinite normal both;
   -moz-animation: transform-shake 1000ms linear 0ms infinite normal both;
   animation: transform-shake 1000ms linear 0ms infinite normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image4
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: transform-wobble-bottom 1000ms linear 0ms infinite normal both;
   -moz-animation: transform-wobble-bottom 1000ms linear 0ms infinite normal both;
   animation: transform-wobble-bottom 1000ms linear 0ms infinite normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image5
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
