body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#background
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: transform-wiggle 1000ms linear 0ms infinite normal both;
   -moz-animation: transform-wiggle 1000ms linear 0ms infinite normal both;
   animation: transform-wiggle 1000ms linear 0ms infinite normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Music
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#button_mods
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: jello-horizontal 1000ms linear 0ms infinite normal both;
   -moz-animation: jello-horizontal 1000ms linear 0ms infinite normal both;
   animation: jello-horizontal 1000ms linear 0ms infinite normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: transform-pulse 1000ms linear 0ms infinite normal both;
   -moz-animation: transform-pulse 1000ms linear 0ms infinite normal both;
   animation: transform-pulse 1000ms linear 0ms infinite normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#sound_boring
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Button_Home
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
