@-webkit-keyframes bouncing-ball
{
   0% { -webkit-transform: rotate(0deg) ;  }
   50% { -webkit-transform: translate(0px,140px) rotate(0deg) ; height: 140px;  }
   55% { -webkit-transform: translate(0px,150px) rotate(0deg) ; height: 120px;  }
   65% { -webkit-transform: translate(0px,120px) rotate(0deg) ; height: 120px;  }
   95% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-moz-keyframes bouncing-ball
{
   0% { -moz-transform: rotate(0deg) ;  }
   50% { -moz-transform: translate(0px,140px) rotate(0deg) ; height: 140px;  }
   55% { -moz-transform: translate(0px,150px) rotate(0deg) ; height: 120px;  }
   65% { -moz-transform: translate(0px,120px) rotate(0deg) ; height: 120px;  }
   95% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
}
@keyframes bouncing-ball
{
   0% { transform: rotate(0deg) ;  }
   50% { transform: translate(0px,140px) rotate(0deg) ; height: 140px;  }
   55% { transform: translate(0px,150px) rotate(0deg) ; height: 120px;  }
   65% { transform: translate(0px,120px) rotate(0deg) ; height: 120px;  }
   95% { transform: translate(0px,0px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
@-webkit-keyframes rainbow-background
{
   0% { background-color: #FF3399;  }
   23% { background-color: #FF6633;  }
   48% { background-color: #FFF802;  }
   80% { background-color: #04A396;  }
   100% { background-color: #3366FF;  }
}
@-moz-keyframes rainbow-background
{
   0% { background-color: #FF3399;  }
   23% { background-color: #FF6633;  }
   48% { background-color: #FFF802;  }
   80% { background-color: #04A396;  }
   100% { background-color: #3366FF;  }
}
@keyframes rainbow-background
{
   0% { background-color: #FF3399;  }
   23% { background-color: #FF6633;  }
   48% { background-color: #FFF802;  }
   80% { background-color: #04A396;  }
   100% { background-color: #3366FF;  }
}
@-webkit-keyframes push
{
   0% { -webkit-transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   50% { -webkit-transform: perspective(1px) rotateX(0deg) scale3d(0.8,0.8,0.8) ;  }
   100% { -webkit-transform: perspective(1px) rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-moz-keyframes push
{
   0% { -moz-transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   50% { -moz-transform: perspective(1px) rotateX(0deg) scale3d(0.8,0.8,0.8) ;  }
   100% { -moz-transform: perspective(1px) rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@keyframes push
{
   0% { transform: perspective(1px) rotateX(0deg) scale3d(1,1,1) ;  }
   50% { transform: perspective(1px) rotateX(0deg) scale3d(0.8,0.8,0.8) ;  }
   100% { transform: perspective(1px) rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-webkit-keyframes transform-bounce
{
   0% { -webkit-transform: rotate(0deg) ;  }
   20% { -webkit-transform: rotate(0deg) ;  }
   40% { -webkit-transform: translate(0px,-30px) rotate(0deg) ;  }
   50% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
   60% { -webkit-transform: translate(0px,-15px) rotate(0deg) ;  }
   80% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-moz-keyframes transform-bounce
{
   0% { -moz-transform: rotate(0deg) ;  }
   20% { -moz-transform: rotate(0deg) ;  }
   40% { -moz-transform: translate(0px,-30px) rotate(0deg) ;  }
   50% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
   60% { -moz-transform: translate(0px,-15px) rotate(0deg) ;  }
   80% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
}
@keyframes transform-bounce
{
   0% { transform: rotate(0deg) ;  }
   20% { transform: rotate(0deg) ;  }
   40% { transform: translate(0px,-30px) rotate(0deg) ;  }
   50% { transform: translate(0px,0px) rotate(0deg) ;  }
   60% { transform: translate(0px,-15px) rotate(0deg) ;  }
   80% { transform: translate(0px,0px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
@-webkit-keyframes transform-marquee
{
   0% { -webkit-transform: translate(100%,0px) rotate(0deg) ;  }
   10% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
   40% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
   50% { -webkit-transform: translate(-100%,0px) rotate(0deg) ;  }
   100% { -webkit-transform: translate(-100%,0px) rotate(0deg) ;  }
}
@-moz-keyframes transform-marquee
{
   0% { -moz-transform: translate(100%,0px) rotate(0deg) ;  }
   10% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
   40% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
   50% { -moz-transform: translate(-100%,0px) rotate(0deg) ;  }
   100% { -moz-transform: translate(-100%,0px) rotate(0deg) ;  }
}
@keyframes transform-marquee
{
   0% { transform: translate(100%,0px) rotate(0deg) ;  }
   10% { transform: translate(0px,0px) rotate(0deg) ;  }
   40% { transform: translate(0px,0px) rotate(0deg) ;  }
   50% { transform: translate(-100%,0px) rotate(0deg) ;  }
   100% { transform: translate(-100%,0px) rotate(0deg) ;  }
}
@-webkit-keyframes transform-pulse
{
   0% { -webkit-transform: rotate(0deg) ;  }
   50% { -webkit-transform: rotate(0deg) scale(1.1,1.1) ;  }
   100% { -webkit-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-moz-keyframes transform-pulse
{
   0% { -moz-transform: rotate(0deg) ;  }
   50% { -moz-transform: rotate(0deg) scale(1.1,1.1) ;  }
   100% { -moz-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@keyframes transform-pulse
{
   0% { transform: rotate(0deg) ;  }
   50% { transform: rotate(0deg) scale(1.1,1.1) ;  }
   100% { transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-webkit-keyframes transform-rotate
{
   0% { -webkit-transform: rotate(0deg) ;  }
   100% { -webkit-transform: rotate(359deg) ;  }
}
@-moz-keyframes transform-rotate
{
   0% { -moz-transform: rotate(0deg) ;  }
   100% { -moz-transform: rotate(359deg) ;  }
}
@keyframes transform-rotate
{
   0% { transform: rotate(0deg) ;  }
   100% { transform: rotate(359deg) ;  }
}
@-webkit-keyframes transform-shake
{
   0% { -webkit-transform: rotate(0deg) ;  }
   10% { -webkit-transform: translate(-10px,0px) rotate(0deg) ;  }
   20% { -webkit-transform: translate(10px,0px) rotate(0deg) ;  }
   30% { -webkit-transform: translate(-10px,0px) rotate(0deg) ;  }
   40% { -webkit-transform: translate(10px,0px) rotate(0deg) ;  }
   50% { -webkit-transform: translate(-10px,0px) rotate(0deg) ;  }
   60% { -webkit-transform: translate(10px,0px) rotate(0deg) ;  }
   70% { -webkit-transform: translate(-10px,0px) rotate(0deg) ;  }
   80% { -webkit-transform: translate(10px,0px) rotate(0deg) ;  }
   90% { -webkit-transform: translate(-10px,0px) rotate(0deg) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-moz-keyframes transform-shake
{
   0% { -moz-transform: rotate(0deg) ;  }
   10% { -moz-transform: translate(-10px,0px) rotate(0deg) ;  }
   20% { -moz-transform: translate(10px,0px) rotate(0deg) ;  }
   30% { -moz-transform: translate(-10px,0px) rotate(0deg) ;  }
   40% { -moz-transform: translate(10px,0px) rotate(0deg) ;  }
   50% { -moz-transform: translate(-10px,0px) rotate(0deg) ;  }
   60% { -moz-transform: translate(10px,0px) rotate(0deg) ;  }
   70% { -moz-transform: translate(-10px,0px) rotate(0deg) ;  }
   80% { -moz-transform: translate(10px,0px) rotate(0deg) ;  }
   90% { -moz-transform: translate(-10px,0px) rotate(0deg) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
}
@keyframes transform-shake
{
   0% { transform: rotate(0deg) ;  }
   10% { transform: translate(-10px,0px) rotate(0deg) ;  }
   20% { transform: translate(10px,0px) rotate(0deg) ;  }
   30% { transform: translate(-10px,0px) rotate(0deg) ;  }
   40% { transform: translate(10px,0px) rotate(0deg) ;  }
   50% { transform: translate(-10px,0px) rotate(0deg) ;  }
   60% { transform: translate(10px,0px) rotate(0deg) ;  }
   70% { transform: translate(-10px,0px) rotate(0deg) ;  }
   80% { transform: translate(10px,0px) rotate(0deg) ;  }
   90% { transform: translate(-10px,0px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
@-webkit-keyframes transform-shiver
{
   0% { -webkit-transform: rotate(0deg) ;  }
   25% { -webkit-transform: translate(-5px,0px) rotate(0deg) ;  }
   75% { -webkit-transform: translate(5px,0px) rotate(0deg) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-moz-keyframes transform-shiver
{
   0% { -moz-transform: rotate(0deg) ;  }
   25% { -moz-transform: translate(-5px,0px) rotate(0deg) ;  }
   75% { -moz-transform: translate(5px,0px) rotate(0deg) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
}
@keyframes transform-shiver
{
   0% { transform: rotate(0deg) ;  }
   25% { transform: translate(-5px,0px) rotate(0deg) ;  }
   75% { transform: translate(5px,0px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
@-webkit-keyframes flip
{
   0% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(-360deg) scale3d(1,1,1) ;  }
   50% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(-180deg) scale3d(1.2,1.2,1.2) ;  }
   100% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-moz-keyframes flip
{
   0% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(-360deg) scale3d(1,1,1) ;  }
   50% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(-180deg) scale3d(1.2,1.2,1.2) ;  }
   100% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@keyframes flip
{
   0% { transform: perspective(400px) rotateX(0deg) rotateY(-360deg) scale3d(1,1,1) ;  }
   50% { transform: perspective(400px) rotateX(0deg) rotateY(-180deg) scale3d(1.2,1.2,1.2) ;  }
   100% { transform: perspective(400px) rotateX(0deg) rotateY(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-webkit-keyframes turbine-in
{
   0% { -webkit-transform: translate(0px,-200px) rotate(0deg) scale(1,1) ; opacity: 0;  }
   10% { -webkit-transform: translate(0px,-75px) rotate(360deg) scale(1.0,1.0) ; opacity: 0.4;  }
   20% { -webkit-transform: translate(0px,-50px) rotate(3600deg) scale(1.0,1.0) ; opacity: 0.6;  }
   30% { opacity: 0.8; -webkit-transform: translate(0px,-25px) rotate(36000deg) scale(1.0,1.0) ;  }
   50% { opacity: 1;  }
   100% { -webkit-transform: translate(0px,0px) rotate(180deg) scale(1,1) ;  }
}
@-moz-keyframes turbine-in
{
   0% { -moz-transform: translate(0px,-200px) rotate(0deg) scale(1,1) ; opacity: 0;  }
   10% { -moz-transform: translate(0px,-75px) rotate(360deg) scale(1.0,1.0) ; opacity: 0.4;  }
   20% { -moz-transform: translate(0px,-50px) rotate(3600deg) scale(1.0,1.0) ; opacity: 0.6;  }
   30% { opacity: 0.8; -moz-transform: translate(0px,-25px) rotate(36000deg) scale(1.0,1.0) ;  }
   50% { opacity: 1;  }
   100% { -moz-transform: translate(0px,0px) rotate(180deg) scale(1,1) ;  }
}
@keyframes turbine-in
{
   0% { transform: translate(0px,-200px) rotate(0deg) scale(1,1) ; opacity: 0;  }
   10% { transform: translate(0px,-75px) rotate(360deg) scale(1.0,1.0) ; opacity: 0.4;  }
   20% { transform: translate(0px,-50px) rotate(3600deg) scale(1.0,1.0) ; opacity: 0.6;  }
   30% { opacity: 0.8; transform: translate(0px,-25px) rotate(36000deg) scale(1.0,1.0) ;  }
   50% { opacity: 1;  }
   100% { transform: translate(0px,0px) rotate(180deg) scale(1,1) ;  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
.visibility-hidden
{
   visibility: hidden;
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
